%p 
  %a{href: "http://my.clevelandclinic.org/healthy_living/smoking/hic_smoking_and_physical_activity.aspx"} http://my.clevelandclinic.org/healthy_living/smoking/hic_smoking_and_physical_activity.aspx
 