%p 
  %a{href: "http://www.mayoclinic.com/health/massage/SA00082/NSECTIONGROUP=2"} http://www.mayoclinic.com/health/massage/SA00082/NSECTIONGROUP=2
%p 
  %a{href: "http://www.amtamassage.org/findamassage/expect.html"} http://www.amtamassage.org/findamassage/expect.html
 