%p 
  %a{href: "http://www.joionline.net/stretch/StrrretchSummer11Design.pdf"} http://www.joionline.net/stretch/StrrretchSummer11Design.pdf
%p 
  %a{href: "http://orthoinfo.aaos.org/topic.cfm?topic=a00192"} http://orthoinfo.aaos.org/topic.cfm?topic=a00192
 