%p We are located at 67 Lincoln Street, Essex Junction, VT.  The VCOR office is on the first floor and Champlain Sports Medicine is on the second floor.

%br

%form.form-horizontal{role: "form", action: "http://maps.google.com/maps", method: "get", target: "_blank"}
  .form-group
    %label.col-sm-2.control-label{for: "inputSaddr"} Starting address:
    .col-sm-10
      %input#inputSaddr.form-control{name: "saddr", placeholder: "Starting Address", type: "text"}
  .form-group
    .col-sm-10
      %input{type: "hidden", name: "daddr", value: "67 Lincoln Street, Essex Junction, VT 05452"}
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-default{type: "submit"} Get Directions
-#      %input.form_control{type: "submit", value: "Get Directions"}

