!!!
%html
  %head 
    %title Champlain Sports Medicine & Vermont Center for Occupational Rehabilitation
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed' rel='stylesheet' type='text/css')
    %link(rel="stylesheet" href="stylesheets/bootstrap.min.css")
    %link(rel="stylesheet" href="stylesheets/vcor.css")
    %script{:type => "text/javascript", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    %script{:type => "text/javascript", :src => "javascripts/bootstrap.min.js"}
    %script{:type => "text/javascript", :src => "javascripts/vcor.js"}
  %body
    #wrapper
      #headwrap
        #header
          %h1 Champlain Sports Medicine &
          %h1 Vermont Center for Occupational Rehabilitation
          #address
            %p 67 Lincoln Street, Essex Junction, Vermont   05452
      #content
        %p Click on a link for information specific to each practice.
        %p 
          %a{href: '/csm'}Champlain Sports Medicine 
        %p
          %a{href: '/vcor'}Vermont Center for Occupational Rehabilitation
      -#=haml :sidebar, :layout=>false 
      #footer

