#head {
    background: linear-gradient(to bottom, rgb(207, 208, 254) 0%, rgb(254, 254, 254) 100%) repeat scroll 0% 0% transparent;
}

#inl {
  display: inline;
}

address {
  font-size: 70%;
}

.jumbotron {
  padding-bottom: 100px;
  border-bottom: 2px solid #D3D4FE;
}
