
html {
    font: "Liberations Sans";
}
#headwrap {
    background: url("../images/bg.jpg") repeat-x scroll left top;
}

#logo {
    float: left;
    margin-right: 8px;
}

#logo>img {
    border-style: solid;
    border-color: #606D8F;
}

#header {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    width: 95%;
    color: #606D8F;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#header h1 {
   padding-left: 50px;
}

#header p {
   padding-left: 50px;
}

#name {
    font-size:150%;
    text-align: center;
    margin-top: 15px;
    float: left;
}
#address {
    color: #000000;
    font-size: 90%;
    padding: 10px;
    float: right;
    padding-bottom: 10px;
}

#wrapper{
    width: 932px;
    margin:auto;
}

#nav {
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px;
    -moz-text-decoration-color: currentColor;
}

#nav ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    padding-top: 6px;
    padding-bottom: 5px;
    background: #ddddff;
    width: 100%;
}

#nav li{
  display: inline;
}

#nav a {
    text-align:center;
    color: #000000;
    background: #ddddff;
    padding: 5px 15px 5px 15px;
    text-decoration:none;
}

#nav a:hover {
    background: #828de1;
}

#header>h1{
    font-weight: bold;
    margin-top: 10px;
    font-size:200%;
}

h2{
    font-size:130%;
}

#content h2 {
    color: #606D8F;
    padding-top: 12px;
    font-size:130%;
    font-weight: bold;
    border-bottom: 2px solid #606D8F;
}

#content h3 {
    padding-top: 12px;
    font-size:120%;
    font-weight: bold;
}

#content h4{
    padding-top: 5px;
    font-size:110%;
    font-weight: bold;
}

#content p{
    font-size:90%;
}


#content{
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    width: 95%;
    margin:12px 0;
    float:left;
    min-height: 200px;
}

#strut {
    min-height: 600px;
}

#footer{
	clear:both;
	background: #c2cde1;
	font-size:75%;
	color:#333;
	border-top:solid 5px #6c80c7;
}


h1{
	font-size:150%;
}

p {
  text-indent: 0em;
  line-height: 120%;
  margin-top: 8px;
}

