%p
  Home page for CSM.
%p
  Vermont Center for Occupation Rehabilitation is located on the 1st floor. Click 
  %a{href: '/vcor'}here
  to go to the Vermont Center for Occupational Rehabilitation website.
