!!!
%html
  %head 
    %title Champlain Sports Medicine
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="../stylesheets/vcor.css")
    %script{:type => "text/javascript", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
    %script{:type => "text/javascript", :src => "javascripts/vcor.js"}
  %body
    #wrapper
      #headwrap
        #header
          %h1 Champlain Sports Medicine
          #address
            %p 67 Lincoln Street, Essex Junction, Vermont   05452
            %p Tel 802-878-9700  Fax 802-878-9966
        #nav
          %ul
            %li 
              %a(href="/csm") Home
            %li 
              %a(href="/csm/directions") Directions
            %li 
              %a(href="/csm/services") Services
            %li 
              %a(href="/csm/staff") Staff
            %li 
              %a(href="/csm/forms") New Patient Forms
            %li 
              %a(href="/csm/articles") Articles
      #content
        =yield 
      #strut
      #footer

