#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseOne"}
          How do I get into VCOR for treatment?
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        Currently we only accept patients with workplace injuries.  You can be referred to us by your Primary Care Physician. If you have a work place injury and you are represented by an attorney, they may suggest to you our program.  They cannot refer.  However call 878-9700, ask that a brochure be emailed, so your primary can know what you are asking for, it is informative and can direct he or she to recommend at least an evaluation with Dr. Johansson to see if you are a candidate for our treatment facility. 

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseTwo"}
          What are my rights in regards to seeing the Dr. I want as a workplace injured person?  
    #collapseTwo.panel-collapse.collapse
      .panel-body
        You have the right to choose your own doctor/treatment facility.  You may choose your doctor soon after being seen by the doctor you were sent to by your company. Go to http://www.wcpolicy.com/Claims/FROI/pdfs/vt.PDF and download or print out the form, in this case the second one, to change treating physician. You can do that in conjunction with making an appointment at VCOR, 802-878-9700. Again, your primary might help, download the brochure from our webpage http;//www…………., go to forms or a link from this question and present to your primary as an introduction to what we do. There are many primary doctors who know us, but if not they are free to call and inquire as well.   .panel.panel-default

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
          What makes the VCOR treatment different from other therapies?
    #collapseThree.panel-collapse.collapse
      .panel-body
        VCOR focuses on educating the patient to help themselves.  Dr. Johansson to the best of his knowledge explains where the patient’s pain may be coming from.  Each practitioner follows up with this emphasis on educating patients in their particular specialty such as learning about how the muscles around the area of injury work, how to engage or disengage muscles in order to help the healing process. 

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFour"}
          Why did my previous treatment after so many months not work, yet my doctor tells me my MRI or other studies don’t show anything? 
    #collapseFour.panel-collapse.collapse
      .panel-body
        Elaborating is what Dr. Johansson does, that may be different to give you a better understanding of what is happening in your injured area.  For instance, you have low back pain but if you don’t have a disk herniation what is causing your pain?  He will palpate, do specific non painful movements as part of his exam, look closely at how symmetrically the body is aligned and if any obvious imbalances present, all of which can impact stress on tissues such as joint capsules (tissue surrounding joints), ligaments (stronger tissue holding joints together, but allowing for motion), fascia and muscles. Sometimes nerves will not cause a typical pattern of pain, like classic sciatica, but rather muscle tightness, in the buttocks, leg or even just the calf from a low back which stretching has been unsuccessful at changing, these very atypical patterns or nerve pain, ligaments in the low back referring pain around the hip to the anterior groin, muscle trigger points, especially certain key, primary trigger points (knots in muscles) can also generate referred pain elsewhere. All these can be challenging to pinpoint the main pain generator, which WE ABSOLUTELY TRY TO FIND,  having various practitioners skilled in different manual skills, give the doctor great feedback about what is a primary and secondary soft tissue tender point, thus like peeling an onion, we peel layers away till we get to the core of the problem. 

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFive"}
          How long are the typical treatment periods?
    #collapseFive.panel-collapse.collapse
      .panel-body
        Because each patient is different we start with 3 weeks with a reevaluation at the second week. Usually by week two we have just begun to start to figure out the main pain generators, at which point, if not previously done, further studies may be recommended by the doctor, MRI’s, nerve studies or x-rays. A plan is made to make adjustments and give the insurance carrier further information so they understand the need for more treatment time and or testing. Also if not previously addressed, there may be nerve syndromes, muscle syndromes, tendons, bursas and more which will by that point will be noticeable and diagnosed, possibly necessitating an injection.  Many of the injections are done at VCOR by Dr. Johansson or referred to a pain clinic specializing in injections for painful nerves, muscles or joints. Then the treatment is modified and goes another three weeks, again two weeks into the second 3 weeks a reassessment of medical treatment, assessment of potential return to work or any other treatment may be started or the patients planned treatment if making gains in pain reduction and improved function will continue. This will be conveyed to the insurance carrier and approval obtained based on this individualized treatment of each patient. The team meetings are invaluable for everyone to discuss the nature or their specialty and its effect and how the patient responds. It is crucial for Dr. Johansson, nurse case managers who are invited and frequently come to make definitive plans moving forward, all in the interest in hopefully returning you to the work you previously did or if at a certain time it appears clear that may not be possible, working with all involved to transition to a working situation that is within your capacity given the nature of your work injury. This frequently isn’t known for at least 4-6 weeks or longer after treatment begins. 

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSix"}
          What can I expect on a typical day of treatment? 
    #collapseSix.panel-collapse.collapse
      .panel-body
        Each day of treatment will bring a different set of appointments including aqua therapy; land based training, physical therapy, myofascial work, patient education, and weekly meeting with Dr. John Johansson. 

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSeven"}
          What is the appropriate dress code?
    #collapseSeven.panel-collapse.collapse
      .panel-body
        We do not have a set dress code.  Workout wear is recommended for the gym, a swimsuit or shorts and t-shirt for the pool, casual easily removable attire for the rest of your appointments.  

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapsEight"}
          Do I need to remove all of my clothing to receive a massage?
    #collapseEight.panel-collapse.collapse
      .panel-body
        Massages are performed in a private room, the massage therapist will ask you to remove only the clothing that you are comfortable with and that will allow the therapist best access to the area to be worked on.  

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapsNine"}
          Can I bring someone to treatments?
    #collapseNine.panel-collapse.collapse
      .panel-body
        It is not appropriate to bring anyone to your appointments without prior approval from each practitioner.  We have limited time with each patient and need their utmost focus.  

  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapsTen"}
          Why do I need to see a psychologist if I’m not mentally ill?
    #collapseTen.panel-collapse.collapse
      .panel-body
        Our in-house psychologist does not deal exclusively with mental disorders that come with pain such as depression and anxiety.  She is trained in pain management strategies, coping skills, and relaxation techniques.  
