%p 
  %a{href: "/vcor/render_form/new_patient_information.pdf"} VCOR New Patient Information Form
%p 
  %a{href: "/vcor/render_form/new_patient_referral.pdf"} VCOR New Patient Referral Form
%p 
  %a{href: "/vcor/render_form/new_patient_history.pdf"} VCOR New Patient Medical History Form
%p 
  %a{href: "/vcor/render_form/PCP_info.pdf"} Primary Care Provider Information
