%p
  Use the form below to access your information.
%p
  %span{style: "font-size: 90%"} Note: you will need to have an username & password created for you by the VCRO staff to get access.

%iframe{src: "https://www.healthfusion.com/reghtml/yhf/", scrolling: "no", style: "width:300px;height:320px;border:none;"}
  
%p 
  As an alternative to the online form above you can print out the following form and fill it out: 
  %a{href: "/vcor/render_form"} new patient form