%p
  Use the form below to safely and securely view your medical records. You may also request an appointmen and make updates to your information.
%p
  %span{style: "font-size: 90%"} Note: you will need to have an username & password created for you by the VCOR staff to get access.  If this is your first time logging in, click on "Activate your account here."
%br
%iframe{src: "https://www.healthfusion.com/reghtml/yhf/", scrolling: "no", style: "width:300px;height:320px;border:none;"}
  
%p 
  New patients may print and fill out the following form prior to their appointment: 
  %a{href: "/vcor/render_form"} new patient form