%p
  Dr. Johansson is the founder and medical director of the Vermont Center for Occupational Rehabilitation.  He is a member of the American Association of Orthopaedic Medicine, the American Osteopathic Association, the American Academy of Pain Management, and the American Academy of Manual Medicine. 
%p
  Treating both sub-acute injuries and chronic pain conditions, Dr. Johansson and the VCOR staff assist patients with recovering from work injuries by offering individulaized and integrated treatment plans.
%p
  With the goal of restoring as much function as possible, combinations of the following modalities are utilized: physical therapy, ergonomic education, muscular re-education, work simulation, work conditioning,  massage therapy, aquatic therapy, biofeedback and a variety of pain management strategies. A home program of stretching, exercise and self-care strategies is developed for each patient to support a continuation of the treatment independently after completing their program at VCOR. Work site evaluations by an ergonomic specialist are also available.
%p
  Weekly staff meetings attended by all VCOR staff ensure a coordinated effort during treatment.  Nurse car managers are invited to attend these meetings in person or by telephone conference.
