%h2 VCOR Philosophy
%p The Vermont Center for Occupational Rehabilitation prides itself on a goal focused on musculoskeletal rehabilitation both in patients who have acute pain and chronic pain and are Worker's Compensation injuries in the state of Vermont, upstate New York, New Hampshire, or Massachusetts.
%p The general focus of our treatment program first off is determined by a thorough initial evaluation by Dr. Johansson who has practiced orthopedic and osteopathic medicine for 25 years and the belief is that a successful treatment program and outcome begins with an accurate diagnosis which is clearly explained to the patient. This emphasis on education is a constant running theme utilized by all practitioners in the treatment of these patients. Our treatment involves both sub acute injuries which may be anywhere from 4 weeks to 8 weeks old or more chronic pain syndromes; anywhere from 3-6 months to over a year and we have had great success with both categories of patients.
%p The essence of the Vermont Center for Occupational Rehabilitation is education and integration with a clearly explained and as accurate as possible diagnosis developed from the very beginning of the treatment program. Dr. Johansson explains this diagnosis so the patient is educated on their injury, they understand all aspects of it, prevention of future injuries, and are not just being managed.  Patients play an active role in their treatment and self care.  

%h2 Treatments
%ul
  %li 3 visits per week
  %li 2-7 appointments per visit
  %li Visits will consist of a combination of pool therapy, massage therapy, physical therapy, postural assessment and treatment, pain management, exercise with a focus on body mechanics and ergonomics, and weekly Dr. Johannson's check in and reassessment.  
  %li Individualized, integrated and function restoration.
%p Our goal is a discharge plan with a home program of self-care, which is a lifelong commitment.

%h2 Team Meetings
%p Nurse care managers are welcome to attend our weekly meetings, with prior notice.
