#staff
%h2 VCOR Staff
#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseThree"}
          Mary-Ellen Giroux, MA
      %h4{style: "font-size: 100%"}Clinical Psychologist
    #collapseThree.panel-collapse.collapse
      .panel-body
        %p Mary-Ellen is a clinical psychologist who specializes in working with people with chronic medical conditions, including injuries and chronic pain. Her interest in the emotional effects of medical conditions began at an early age, as she witnessed the decline of her mother's health due to a major illness. Her undergraduate studies took place at a time when the Holistic Health movement was just getting under way. This influence led to her deep interest in the biological, psychological, and spiritual factors that play a role in health and disease. She studied a variety of alternative healing techniques and worked as a massage therapist for ten years. After earning a Master's degree in Clinical Psychology, she worked in various settings until she reached her goal of working in a treatment setting as part of an interdisciplinary team of health care providers. At the Vermont Center for Occupational Rehabilitation, she assists patients with dealing with the emotional effects of their injuries so that these issues do not interfere with their ability to make good progress in their physical rehabilitation programs. Although her work is tailored to the individual needs of each patient, the primary focus is on learning stress and pain management strategies, including relaxation training, cognitive-behavioral techniques, and biofeedback training.  

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFour"}
          Corrie Mannings 
      %h4{style: "font-size: 100%"}Administrative Coordinator
    #collapseFour.panel-collapse.collapse
      .panel-body
        %p Corrie joined VCOR in August of 2012 and in that short time has transformed the reception desk.  Her bright eyes, cheery smile and vivacious personality greet each patient every day.  Corrie’s skills are amazing to see as she navigates her many tasks during the day such as patient/practitioner scheduling, returning mountains of emails and phone calls, keeping up with every appointment inside and outside the building.  She really enjoys the patient interaction and watching the success of each patient who walks out the door.  She enjoys spending time with her beautiful daughter, Keira and VCOR mascot, Annie her dog.   

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseFive"}
          Janice Russotti, CMT
      %h4{style: "font-size: 100%"}AMTA Certified Massage Therapist    
    #collapseFive.panel-collapse.collapse
      .panel-body
        %p Janice has been a certified massage therapist for 25 years, and has been on the team here at VCOR since its beginnings, 17 years ago. She studied anatomy and physiology at the UVM School of Allied Health Sciences, majoring in medical laboratory technology. However, after graduating and while working as a medical technologist at the former Fanny Allen Hospital in Colchester, Vermont, she realized that she was more of a people-person, and wanted to work directly with people, which led to taking her first massage class in 1982. 
        %p Her training includes: 
        %ul
          %li Sports Massage and Deep Swedish Massage, Still point Center, Hatfield, MA. 1988
          %li Sports Massage with Ben Benjamin/ Muscular Therapy Institute of Boston 1989
          %li Shiatsu/Acupressure, Montpelier VT, 1991
          %li Resonant Kinesiology with Susan Gallagher Borg, 1994-1996
          %li Neuromuscular Re-education at  Vt. Center for Behavioral Medicine, 1995.
        %p Janice believes deeply in the body's ability to heal itself, and that massage therapy is one of the many paths to restoring health and ease back to the body. She is also a strong supporter of self care. She draws on her own experiences of being a mother, musician, a student and a human being to connect with her patients. She is forever the student of life and of her work. She specializes in Integrative Therapeutic Massage. This includes deeply focusing in on a problem area such as neck and shoulders, while also addressing whole body stress relief. Janice's style provides treatment-oriented work as well as stress relief by incorporating Relaxation Breathing techniques, Myofascial Release, Trigger Point Therapy, Swedish massage, Foot Reflexology, and Deep Tissue work. "Changing the world, one massage at a time" is her motto.
        %p When not working, she may be found outside cycling, skiing, camping, kayaking, swimming, singing with children at local elementary schools, enjoying her family, tending her vegetable and flower garden, and dancing.

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSix"}
          Deb Warner, RET, PFT
      %h4{style: "font-size: 100%"}Director of Rehabilitation
      %h4{style: "font-size: 100%"}Bachelor’s Degree in Physical Education and Health, Associate’s Degree in Rehabilitation Engineering Technology and Personal Fitness Trainer
    #collapseSix.panel-collapse.collapse
      .panel-body
        %p Deb has more than 20 years in the rehab/physical therapy field.  She left traditional PT to work in chronic pain treatment.  Deb is trained in ergonomics and body mechanics and applies this knowledge to each land based training session she designs.  She has a unique ability to teach self-care, ergonomics, which in turn increases the patient’s quality of life, manage their pain as well as physically strengthen.  Her exceptional skill is treating the patient with a mix of respect, tough love, compassion, and humor that brings out the best in each patient.  She is an active official for both women’s field hockey and lacrosse in the state of Vermont, a lifelong Red Sox super fan and a seasoned golfer.  

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapseSeven"}
          Mandy Yates, CMT
      %h4{style: "font-size: 100%"}Certified Massage Therapist
    #collapseSeven.panel-collapse.collapse
      .panel-body
        %p Mandy is a nationally certified massage therapist specializing in Deep Tissue Massage.  She graduated from the Natural Health Institute in Nashville, TN.  She has also studied dietetics at Kansas State University.  She uses techniques such as Trigger point, myofascial release, craniosacral, neuromuscular reeducation, and a variety of stretches.  Her intuitive style is unique in that even with the depth of tissue pressure the patient receives an element of relaxation they have not known since pre-injury. Mandy's also teaches Patient education sessions which include topics such as lifting properly, basic anatomy/physiology, and nutrition.  Her hobbies include hiking, spending time with her son, and riding horses.  
