#staff
%h2 VCOR Staff
%h3 Michelin S. Carroll, PT, ATC
%h4 Physical Therapist and Certified Athletic Trainer
%p Michelin graduated from the University of Vermont with a Bachelor’s Degree in Physical Therapy and Physical Education with a concentration in sports medicine.  She is a Certified Athletic Trainer who has worked at the college and high school levels and she has more than 15 years of out-patient orthopedic experience as a physical therapist.  Michelin’s treatment philosophies are based upon extensive continuing education and involve various manual and therapeutic exercise approaches, strength and exercise training and a strong influence from the Postural Restoration Institute.  She enjoys working with patients of all ages but has a special interest for working directly with athletes.  Michelin’s special interest is developing exercise programs that incorporate the philosophies behind postural restoration which empower patients to improve their physical well-being and prevent injury.  Her hobbies include being a mom, strength training and conditioning, coaching, playing soccer and golf, and riding horses.  

%h3 Mary-Ellen Giroux, MA
%h4 Master’s of Arts in Clinical Psychology
%p Mary-Ellen is a clinical psychologist who specializes in working with people with chronic medical conditions, including injuries and chronic pain. Her interest in the emotional effects of medical conditions began at an early age, as she witnessed the decline of her mother's health due to a major illness. Her undergraduate studies took place at a time when the Holistic Health movement was just getting under way. This influence led to her deep interest in the biological, psychological, and spiritual factors that play a role in health and disease. She studied a variety of alternative healing techniques and worked as a massage therapist for ten years. After earning a Master's degree in Clinical Psychology, she worked in various settings until she reached her goal of working in a treatment setting as part of an interdisciplinary team of health care providers. At the Vermont Center for Occupational Rehabilitation, she assists patients with dealing with the emotional effects of their injuries so that these issues do not interfere with their ability to make good progress in their physical rehabilitation programs. Although her work is tailored to the individual needs of each patient, the primary focus is on learning stress and pain management strategies, including relaxation training, cognitive-behavioral techniques, and biofeedback training.  

%h3 Janice Russotti, CMT
%h4 Certified Massage Therapist	
%p Janice has been a certified massage therapist for 25 years, and has been on the team here at VCOR since its beginnings, 17 years ago. She studied anatomy and physiology at the UVM School of Allied Health Sciences, majoring in medical laboratory technology. However, after graduating and while working as a medical technologist at the former Fanny Allen Hospital in Colchester, Vermont, she realized that she was more of a people-person, and wanted to work directly with people, which led to taking her first massage class in 1982. 
%p Her training includes: 
%ul
  %li Sports Massage and Deep Swedish Massage, Still point Center, Hatfield, MA. 1988
  %li Sports Massage with Ben Benjamin/ Muscular Therapy Institute of Boston 1989
  %li Shiatsu/Acupressure, Montpelier VT, 1991
  %li Resonant Kinesiology with Susan Gallagher Borg, 1994-1996
  %li Neuromuscular Re-education at  Vt. Center for Behavioral Medicine, 1995.
%p Janice believes deeply in the body's ability to heal itself, and that massage therapy is one of the many paths to restoring health and ease back to the body. She is also a strong supporter of self care. She draws on her own experiences of being a mother, musician, a student and a human being to connect with her patients. She is forever the student of life and of her work. She specializes in Integrative Therapeutic Massage. This includes deeply focusing in on a problem area such as neck and shoulders, while also addressing whole body stress relief. Janice's style provides treatment-oriented work as well as stress relief by incorporating Relaxation Breathing techniques, Myofascial Release, Trigger Point Therapy, Swedish massage, Foot Reflexology, and Deep Tissue work. "Changing the world, one massage at a time" is her motto.
%p When not working, she may be found outside cycling, skiing, camping, kayaking, swimming, singing with children at local elementary schools, enjoying her family, tending her vegetable and flower garden, and dancing.

%h3 Mandy Yates, CMT
%h4 Certified Massage Therapist
%p Mandy is a nationally certified massage therapist specializing in Deep Tissue Massage.  She graduated from the Natural Health Instiute in Nashville, TN.  She has also studied dietetics at Kansas State University.  She uses techniques such as Trigger point, myofascial release, craniosacral, neuromuscular reeducation, and a variety of stretches.  Her intuitive style is unique in that even with the depth of tissue pressure the patient receives an element of relaxation they have not known since pre-injury. Mandy's also teaches Patient education sessions which include topics such as lifting properly, basic anatomy/physiology, and nutrition.  Her hobbies include hiking, spending time with her son, and riding horses.  
