#staff
  %h2 VCOR Staff
  %h3 Michelin S. Carroll, PT, ATC
  %h4 Physical Therapist and Certified Athletic Trainer
  %p Michelin graduated from the University of Vermont with a Bachelor’s Degree in Physical Therapy and Physical Education with a concentration in sports medicine.  She is a Certified Athletic Trainer who has worked at the college and high school levels and she has more than 15 years of out-patient orthopedic experience as a physical therapist.  Michelin’s treatment philosophies are based upon extensive continuing education and involve various manual and therapeutic exercise approaches, strength and exercise training and a strong influence from the Postural Restoration Institute.  She enjoys working with patients of all ages but has a special interest for working directly with athletes.  Michelin’s special interest is developing exercise programs that incorporate the philosophies behind postural restoration which empower patients to improve their physical well-being and prevent injury.  Her hobbies include being a mom, strength training and conditioning, coaching, playing soccer and golf, and riding horses.  

  %h3 Mandy Yates, CMT
  %h4 Certified Massage Therapist
  %p Mandy is a nationally certified massage therapist specializing in Deep Tissue Massage.  She graduated from the Natural Health Instiute in Nashville, TN.  She has also studied dietetics at Kansas State University.  She uses techniques such as Trigger point, myofascial release, craniosacral, neuromuscular reeducation, and a variety of stretches.  Her intuitive style is unique in that even with the depth of tissue pressure the patient receives an element of relaxation they have not known since pre-injury. Mandy's also teaches Patient education sessions which include topics such as lifting properly, basic anatomy/physiology, and nutrition.  Her hobbies include hiking, spending time with her son, and riding horses.  
